subtask1/Baseline_Model/model/
subtask2/Baseline_Model/model/
subtask3/Baseline_Model/model/
subtask4/Baseline_Model/model/
subtask1/Baseline_Model/Dataset/
subtask2/Baseline_Model/Dataset/
subtask1/Dataset/
subtask2/Dataset/
*.pt
*.zip
__pycache__/
*/__pycache__/
*/*/__pycache__/